$env:DB_URL="jdbc:postgresql://localhost:5432/compliance_db"
$env:DB_USERNAME="postgres"
$env:DB_PASSWORD="sujan"

$env:REDIS_HOST="localhost"
$env:REDIS_PORT="6379"

$env:MAIL_HOST="smtp.gmail.com"
$env:MAIL_PORT="587"
$env:MAIL_USERNAME="test"
$env:MAIL_PASSWORD="test"

$env:JWT_SECRET="secret"
$env:JWT_EXPIRATION="86400000"
